nav {
    width: 100%;
    position: fixed;
    z-index:5;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.menu li{
    padding: 10px 30px;
}

.toggle {
    order: 1;
}

.item {
    text-align: center;
    order: 3;
    display: block;
}

.checkbtn{
    display: none;
    cursor: pointer;
    font-size: 25px;
}

#check{display: none;}
.nav-colored { background-color:#eceff4;}
.nav-transparent { background-color:transparent;}
        
.nav-show{ display: flex;}
.nav-hide{display: none;}

body,html { 
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    text-align: center;
    color: #000;
    background-color: #e5e9f0;    
}

p{
    margin: 0 20% 0 20%;
}

h2{
    font-size: 28px;
    font-weight: bold
    text-transform: uppercase;
}

h3{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.pimg1{
    background-image:url('img/Claudio-4646.jpg');
    min-height: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
}

.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 100px;
}



.ptext{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    color: #e5e9f0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 8px;
    text-transform:uppercase;
    /*
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    */
}

#mapid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px; 
    width: 45%;
    z-index: 2;
}

.trees{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

@media only screen and (max-width: 820px){
    .menu{
        justify-content: space-between;
    }
    .item{
        display: none;
        width: 100%;
        order: 3;
    }
    .checkbtn{
        display: block;
        order: 1;
        padding: 10px 30px;
    }
    #check:checked ~ .item{
        display: block;
        background-color:#eceff4;
    };

    #check:checked
    
    

    p{
        margin: 0 10% 0 10%;
    }

    body{
        font-size: 16px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }

    #mapid{
        width: 85%;
        height: 300px;
    }

}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    .pimg1{
        background-attachment: scroll;
    }
}

section{
    padding-top: 40px;
}